doctype html
head
  meta(charset='utf-8')
  meta(name='viewport' content='width=device-width, initial-scale=1')
  title  RoboSwarm - Cloud Based Locust Load Testing
  meta(name='description' content='RoboSwarm is a cloud-based distributed load and performance testing platform. Run your Locust load tests at scale with a few simple clicks.')
  meta(name='keywords' content='roboswarm, locust, locust load testing, locust saas, locust service')

  //- CSS Imports
  link(rel='stylesheet' href='/marketing-static/css/magnific-popup.css')
  link(href='/marketing-static/css/owl.carousel.css' rel='stylesheet')
  link(href='/marketing-static/css/owl.theme.css' rel='stylesheet')
  link(href='/marketing-static/css/owl.transitions.css' rel='stylesheet')
  link(href='/marketing-static/css/mobiriseicons.css' rel='stylesheet')
  link(rel='stylesheet' type='text/css' href='/marketing-static/css/materialdesignicons.min.css')
  link(rel='stylesheet' href='/marketing-static/css/animate.min.css')
  link(rel='stylesheet' type='text/css' href='/marketing-static/css/bootstrap.min.css')
  link(href='/marketing-static/css/style.css' rel='stylesheet')

  //- Amplitude
  script(type='text/javascript').
      window.NODE_ENV = "#{NODE_ENV}";

  script(type='text/javascript').
    (function(e,t){var n=e.amplitude||{_q:[],_iq:{}};var r=t.createElement("script")
    ;r.type="text/javascript";r.async=true
    ;r.src="https://cdn.amplitude.com/libs/amplitude-4.4.0-min.gz.js"
    ;r.onload=function(){if(e.amplitude.runQueuedFunctions){
    e.amplitude.runQueuedFunctions()}else{
    console.log("[Amplitude] Error: could not load SDK")}}
    ;var i=t.getElementsByTagName("script")[0];i.parentNode.insertBefore(r,i)
    ;function s(e,t){e.prototype[t]=function(){
    this._q.push([t].concat(Array.prototype.slice.call(arguments,0)));return this}}
    var o=function(){this._q=[];return this}
    ;var a=["add","append","clearAll","prepend","set","setOnce","unset"]
    ;for(var u=0;u<a.length;u++){s(o,a[u])}n.Identify=o;var c=function(){this._q=[]
    ;return this}
    ;var l=["setProductId","setQuantity","setPrice","setRevenueType","setEventProperties"]
    ;for(var p=0;p<l.length;p++){s(c,l[p])}n.Revenue=c
    ;var d=["init","logEvent","logRevenue","setUserId","setUserProperties","setOptOut","setVersionName","setDomain","setDeviceId","setGlobalUserProperties","identify","clearUserProperties","setGroup","logRevenueV2","regenerateDeviceId","logEventWithTimestamp","logEventWithGroups","setSessionId","resetSessionId"]
    ;function v(e){function t(t){e[t]=function(){
    e._q.push([t].concat(Array.prototype.slice.call(arguments,0)))}}
    for(var n=0;n<d.length;n++){t(d[n])}}v(n);n.getInstance=function(e){
    e=(!e||e.length===0?"$default_instance":e).toLowerCase()
    ;if(!n._iq.hasOwnProperty(e)){n._iq[e]={_q:[]};v(n._iq[e])}return n._iq[e]}
    ;e.amplitude=n})(window,document);
    amplitude.getInstance().init("934d7f30250e2ac7c7f8ea537564f382");

nav.navbar.navbar-expand-lg.fixed-top.custom_nav_menu.sticky
  .container
    a.navbar-brand.logo(href='/')
      img.img-fluid.logo-light(src='/marketing-static/images/roboswarm.png' alt='RoboSwarm')
      img.img-fluid.logo-dark(src='/marketing-static/images/roboswarm-dark.png' alt='RoboSwarm')
    button.navbar-toggler(type='button' data-toggle='collapse' data-target='#navbarCollapse' aria-controls='navbarCollapse' aria-expanded='false' aria-label='Toggle navigation')
      i.mdi.mdi-menu
    #navbarCollapse.collapse.navbar-collapse
      ul.navbar-nav.ml-auto
        li.nav-item
          a.nav-link(href='#home') Home
        li.nav-item
          a.nav-link(href='#features') Product
        li.nav-item
          a.nav-link(href='#pricing') Pricing
        li.nav-item
          a.nav-link(href='#faq') Faq
        li.nav-item
          a.nav-link(href='#contact') Contact
        li.nav-item
          a.nav-link(href='/app/#/login') Sign In
// END NAVBAR
// Home Section Start
section#home.bg_home_landing.home_half_cover
  .bg_overlay_section
  .home_table_cell
    .home_table_cell_center
      .container
        .row
          .col-lg-12
            .text-center
              h1.home_title.text-white.mx-auto.text-capitalize.mb-0
                | Cloud Based
                span.home_tag.font-italic.font-weight-bold  Locust 
                |  Load &amp; Performance Testing
              .home_text_details
                p.home_subtitle.mt-4.mx-auto.mb-0
                  | RoboSwarm is a cloud-based distributed load &amp; performance testing platform. Run your Locust load tests at scale with a few simple clicks.
              .home_btn_manage.mt-4.pt-3
                a.btn.btn_custom.mr-3(href='/app/#/register') Sign Up Now for Free
  .scroll_down
    a.scroll(href='#features')
      i.mdi.mdi-chevron-double-down.text-white
// Home Section End
// Features Start
section#features.section_all
  .container
    .row
      .col-lg-12.text-center
        h4.section-title
          | RoboSwarm 
          span.text_custom Features
        .section-title-border.mx-auto
        p.text-muted.pt-2.section-subtitle.mx-auto
          | RoboSwarm allows you to easily create and execute Locust load tests at scale.
        .section_subtitle_border.mx-auto
    .row.mt-5.vertical_content_manage
      .col-lg-6
        .features_box_content.mt-3
          h4.font-weight-bold.text-capitalize.features_box_title_top  Locust Load &amp; Performance Testing
          .text-left.features-box.features-box-right.mt-4
            i.mdi.mdi-airplay
            .features-content
              h5.text-dark.font-weight-bold Test From Around the World
              p.features-subtitle.text-muted
                | RoboSwarm can load test your application from all over the world. We can spin up Locust load testing clusters in: Amsterdam, Bangalore, Frankfurt, London, New York City, San Francisco, Singapore, &amp; Toronto.
          .text-left.features-box.features-box-right.mt-4
            i.mdi.mdi-cards-variant
            .features-content
              h5.text-dark.font-weight-bold  Requests &amp; Distribution Data
              p.features-subtitle.text-muted
                | Easily see the status of your load test in real-time or analyze the data after the test has completed.
      .col-lg-6
        .mt-3
          img.img-fluid.mx-auto.d-block(src='/marketing-static/images/roboswarm_requests.png' alt='RoboSwarm Requests Chart' title='RoboSwarm Requests Chart')
    .row.mt-5.vertical_content_manage
      .col-lg-6
        .mt-3
          img.img-fluid.mx-auto.d-block(src='/marketing-static/images/roboswarm_distribution.png' alt='RoboSwarm Distribution Chart' title='RoboSwarm Distribution Chart')
      .col-lg-6
        .features_box_content.mt-3
          h4.font-weight-bold.text-capitalize.features_box_title_top  Any Scale, Any Time
          .text-left.features-box.features-box-right.mt-4
            i.mdi.mdi-chart-bar
            .features-content
              h5.text-dark.font-weight-bold On-Demand Infrastructure
              p.features-subtitle.text-muted
                | RoboSwarm creates your Locust swarms on-demand using Digital Ocean. With no infrastructure to worry about we focus only on making your load testing experience and amazing as possible.
          .text-left.features-box.features-box-right.mt-4
            i.mdi.mdi-chart-bubble
            .features-content
              h5.text-dark.font-weight-bold 1 to Thousands Nodes in an Instant
              p.features-subtitle.text-muted
                | By leveraging Digital Ocean's massive hosting infrastructure, we can scale our test clusters from 1 to thousands of test nodes in an instant.
// Features End
// Pricing Plan Start
section#pricing.section_all.bg-light
  .container
    .row
      .col-lg-12.text-center
        h4.section-title
          | Simple Pricing
        .section-title-border.mx-auto  
        p.text-muted.pt-2.section-subtitle.mx-auto
          | Our simple pricing plans make it easy to choose the right plan for your team. No credit card required to get started!
    .row.mt-5
      .col-lg-4
        .mt-3.pricing_plan_box.bg-white
          .pricing_header.text-center
            .price-name
              h4.text-capitalize.font-weight-bold.mb-0 Free
            .price_tag_heading.mt-4
              h2.mb-0.font-weight-bold
                sup $
                | 0/
                span.font-weight-bold Mo
          .divider_line.mx-auto
          .list_price_features.text-muted.text-center.mb-4.mt-4
            p 5 Machine Hours / Month
            p 2 Load Tests / Month
            p 15 Minute Max Test Duration
            p 5 Day Data Retention
            p.mb-0 Email Support
          .text-center
            a.btn.btn_custom.btn-rounded(href='/app/#/register') Sign up now
      .col-lg-4
        .mt-3.pricing_plan_box.bg-white
          .pricing_header.text-center
            .price-name
              h4.text-capitalize.font-weight-bold.mb-0 Startup
            .price_tag_heading.mt-4
              h2.mb-0.font-weight-bold
                sup $
                | 79/
                span.font-weight-bold Mo
          .divider_line.mx-auto
          .list_price_features.text-muted.text-center.mb-4.mt-4
            p 1000 Machine Hours / Month
            p 30 Load Tests / Month
            p 2 Hour Max Test Duration
            p 90 Day Data Retention
            p.mb-0 Scheduled Live Chat &amp; Email Support
          .text-center
            a.btn.btn_custom.btn-rounded(href='/app/#/register') Sign up now
      .col-lg-4
        .mt-3.pricing_plan_box.bg-white
          .pricing_header.text-center
            .price-name
              h4.text-capitalize.font-weight-bold.mb-0 Enterprise
            .price_tag_heading.mt-4
              h2.mb-0.font-weight-bold
                sup $
                | 399/
                span.font-weight-bold Mo
          .divider_line.mx-auto
          .list_price_features.text-muted.text-center.mb-4.mt-4
            p 7000 Machine Hours / Month
            p 300 Load Tests / Month
            p 6 Hour Max Test Duration
            p 1 Year Data Retention
            p API Access
            p User / Group Management
            p.mb-0 Live Chat, Phone, &amp; Email Support
          .text-center
            a.btn.btn_custom.btn-rounded(href='/') Coming Soon!
// Pricing Plan End
// FAQ Start
section#faq.section_all
  .container
    .row
      .col-lg-12.text-center
        h4.section-title
          | Frequently Asked  
          span.text_custom Questions
        .section-title-border.mx-auto  
        p.text-muted.pt-2.section-subtitle.mx-auto
          | Don't see your question answered below? Use the form at the bottom of the page to contact us.
    .row.mt-5
      .col-lg-6
        .testi-desc.mt-3
          h6.font-weight-bold What Python versions do you support?
          p.text-muted
            | We currently support Python 2.7. We are actively working on supporting Python 3.x versions.
      .col-lg-6
        .testi-desc.mt-3
          h6.font-weight-bold Is there a reference Locust test I can look at?
          p.text-muted
            | Sure! Check out the reference test on #[a.githublink(href="https://github.com/vital101/roboswarm-example") GitHub].
    .row.mt-3
      .col-lg-6
        .testi-desc.mt-3
          h6.font-weight-bold Is there a swarm size limit?
          p.text-muted
            | No. It is only limited by the duration your swarm will be alive and the machine hours you have remaining for the month.
      .col-lg-6
        .testi-desc.mt-3
          h6.font-weight-bold Can I access the Locust Web UI?
          p.text-muted
            | Not yet, but soon!
// End FAQ
// Contact Start
section#contact.section_all.bg-light
  .container
    .row
      .col-lg-12.text-center
        h4.section-title
          | Get In 
          span.text_custom Touch
        .section-title-border.mx-auto  
        p.text-muted.pt-2.section-subtitle.mx-auto
          | Have questions? Need help? Fill out the form below and we'll reach out.
    .row.vertical_content_manage.mt-5
      .col-lg-5
        .mt-3
          .com_logo_here
            img.img-fluid.d-block(src='/marketing-static/images/roboswarm-dark.png' alt='RoboSwarm Logo')
          .mt-3.contact_details.text-muted
            p.mt-3
              | We will do our best to respond within 24 hours of receiving your message.
            p.mb-0.mt-3
              | Made with &hearts; in Raleigh, NC, USA
      .col-lg-7
        .corp_form_custom.bg-white.mt-3
          div.alert.alert-info
            | Your message was sent successfully.
          form(id='contact-form')
            .form-row
              .col
                label.col-form-label First name
                input.form-control(id='first-name' type='text' required='')
              .col
                label.col-form-label Last name
                input.form-control(id='last-name' type='text' required='')
            .form-row.pt-2
              .col
                label.col-form-label You Email
                input.form-control(id='email' type='email' required='')
            .form-row.pt-2
              .col
                label.col-form-label Message
                textarea.form-control(id='message' rows='3')
            .pt-3
              button.btn.btn_custom(type='submit') Send Message
// End Contact Start
// Start Footer
footer.section_all.footer_detail.footer_background
  .container
    .row.mt-3
      .col-lg-12
        .text-center.mt-3
          p.copy-rights.mb-0 2018 &copy; RoboSwarm
// End Footer
// JAVASCRIPTS
script(src='/marketing-static/js/jquery.min.js')
script(src='/marketing-static/js/popper.min.js')
script(src='/marketing-static/js/bootstrap.min.js')
// TESTISLIDER JS
script(src='/marketing-static/js/owl.carousel.min.js')
script(src='/marketing-static/js/jquery.magnific-popup.min.js')
script(src='/marketing-static/js/scrollspy.min.js')
script(src='/marketing-static/js/jquery.easing.min.js')
script(src='/marketing-static/js/custom.js')
